<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @lists.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td><%= @movies.name %></td>
          </tr>
          <%= link_to 'back', list_path, class: 'btn btn-primary' %>
        </tbody>
      </table>
